@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*header_Nav*/

@media only screen and (min-width:1200px){
	.nav-item > .nav-link{padding: 5px 20px !important;
		display: block !important;}
}

@media only screen and (max-width:992px){
	.header-inner{
		background-color:  white!important;
	}
		.nav-item > .nav-link{
		color: black!important;
		}
			.logo{
				color: #000!important;
				font-weight: 600!important;
			}
}


	
	.banner-btn{padding:0 34px;
	z-index: 1;
	margin:30px auto 25px;
	line-height: 56px;
	position: relative;
	border-radius: 6px;
	height:56px;
	font-size: 16px;
	background-color: #fe4066;
	display: inline-block;
	color: #ffffff;
	transition: 0.3s;
	text-align: center;
	
	}
	
	.banner-btn:hover{text-decoration: none;
		color:#fe4066;
		background-color:white; }
	

	
	
	.header{
		position: relative;
		width: 100%;
	}
	
	.header-inner{
		position: absolute;
		top: 0;
		left: 0;
		width:100%;
		z-index: 99;
		background-color:rgba(57,49,49,0.7);
	}

	.logo{
		color: white;
	}
	
	
	
	.nav-item .nav-link{
		display: block;
		line-height: 36px;
		text-transform: capitalize;
		font-size: 16px;
		font-weight: 500;
		color: #ffffff;
		transition: 0.15s;}
	
	.nav-item .nav-link:hover{
		color: #FE4066;
	}
	
	.header-btn{
		color:#ffffff;
		border-radius: 30px;
		background-color:gray;
		border:none;
		font-weight: 500;
		outline: none;
		font-size: 15px;
		padding:7px 22px;
		transition: 0.5s;
	}
	
	.header-btn:hover{
		background-color: #FE4066;
		cursor: pointer;
		
	}
	
	.navbar-scroll{
		background-color: #ffffff;
		padding: 0;
		position: fixed;
		top:0;
		z-index: 99;
		box-shadow:0px 1px 10px rgba(0,0,0,0.4);
		transition-duration: 0.6s; 
	}
	
	.navbar-scroll .nav-item .nav-link{
		color: black;
	}
	
	.navbar-scroll .header-btn{
		color: #ffffff;
		background-color: #fe4066;
	}
	
	.navbar-scroll .logo{
		color: #000;
		font-weight: 500;
	}
	.first-title{
		text-transform: capitalize;
	}
	section{background-color: white;
		padding: 4rem 0rem 4rem;
		}
		section:nth-of-type(even){background-color: #fe4066;
		color: white;}
	


.bgcover {
	max-width: 100%;
	height: 100%;
    background: url(image/Branner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

.aliment-center{
  max-width: 960px;
  margin: auto;
  height: 500px;
}
  /* ----header_Nav----- */

